/*
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_QuickBooksOnline extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package  Magenest_QuickBooksOnline
 * @author   ThaoPV <thaopw@gmail.com>
 */
.qbo-status {
    margin-left: 30%;
    font-size: 2.5rem;
    font-family: Helvetica,Arial,sans-serif;
}

.qbo-status.not-connect {
    color: #FF0000;
}
.connection-qbo-button {
    margin-left: 35px;
}
.qbo-status.success {
    color: #006400;
}

.qbo-description {
    margin-left: 15%;
    margin-top: 30px;
}
.label-qbo{
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 1.6rem;
}
.qbo-info {
    font-style: italic;
}
.qbo-button {
    margin-top: 30px;
}
.qbo-reconnect {
    color: #3737EF;
}