<?php
/**
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_QuickBooksOnline extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package  Magenest_QuickBooksOnline
 * @author   ThaoPV <thaopw@gmail.com>
 */
?>
<div style="text-align: center; font-family: sans-serif; font-weight: bold;">
    You're connected! Please wait...
</div>
<script type="text/javascript">
    window.opener.location.reload(false);
    window.setTimeout('window.close()', 2000);
</script>